<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据页面</title>
</head>
<body>
<div style="width: 800px;margin: auto;">
    <!--<form action="/purchase/pu_add" method="post">-->
        <!--编号：<input type="text" name="pu_id" > &nbsp;&nbsp;-->
        <!--日期：<input type="text" name="pu_date"> &nbsp;&nbsp;-->
        <!--价格：<input type="text" name="pu_price" > &nbsp;&nbsp;-->
        <!--数量：<input type="text" name="pu_number" > &nbsp;&nbsp;-->
        <!--员工编号：<input type="text" name="s_id" > &nbsp;&nbsp;-->
        <!--商品编号：<input type="text" name="pr_id" > &nbsp;&nbsp;-->
        <!--供货商编号：<input type="text" name="b_id" > &nbsp;-->
        <!--<input type="submit" value="提交">-->
    <!--</form>-->
</div>
</body>
</html>